@font-face {
  font-family: Gilroy;
  src: url('./assets/Gilroy-Regular.ttf')  format('truetype');
  font-weight: bolder;
}
body {
  margin: 0;
  font-family:Gilroy, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Gilroy,source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.active{
  color: #65B0F6;
  
}
.top{
  width: 100%;
  /* padding-left: 15%; */
  font-weight: bold;
  background-color: white;
  /* margin-top: 20px; */
  /* padding: 10px 0px 10px 0px; */
  /* margin-bottom: 0; */
  position:fixed;
  z-index: 1;

}
.top>p{
  width: 360px;
  margin-left: 15%;
}
.topfix{
  height: 60px;
  position:static;
}
.navbar{
  background: #040404;
  margin-bottom: -2.5%;
  height: 40px;
  position:fixed;
  width: 100%;
  z-index: 1;
}
.navfix{
  height: 40px;
  position: fixed;
}
.navbar>div{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
  width: 80%;
  margin-left: 10%;
}

.hamburger{
  visibility: hidden;
  background: transparent;
  border: none;
  color: white;
  /* position: relative; */
  float: right;
}
.hamMenu{
  visibility: hidden;
  opacity: 0;
  background-color: #040404;
  margin-top: -80px;
  padding: 10px;
  list-style: none;
  text-align: center;
}

.hamMenu li{
  padding: 8px 0px;
}

.dropbtn {
  background-color: #040404;
  color: white;
  font-size: 16px;
  /* margin-top: 8px; */
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}


.imgmain{
  width: 100%;
  height: 100vh;
  background-image: url("./assets/main.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: 0;
}
.imgmain>button{
  background-color: #040404;
  padding: 4px 8px 10px 8px;
  color: white;
  font-size: 16px;
  width: 200px;
  cursor: pointer;
}

.imgmain h1{
  width: 45%;
  margin-left: 5%;
  padding-top: 10%;
  font-weight: 900;
  font-size: 46px;
}
.imgmain>*{
  margin-left: 5%;

}

.gradient{
  background: linear-gradient(180deg, #ECEDEF 0%, #FFFFFF 100%);
  width: 100%;
  height: 5vh;
}

.about{
  width: 80%;
  margin-left: 10%;
  float: center;
  margin-top: 10%;
  margin-bottom: 10%;
}
.aboutPage{
  width: 80%;
  margin-left: 10%;
  line-height: 1.75;
}
.aboutPage img{
  width: 100%;
}
.about p{
  line-height: 1.5;
  font-size: 18px;
  font-weight: 500;
  color: #414141;
}
.glimpse, .skillCentre, .callForPapers, .committee, .keynote, .paper, .contact{
  text-align: center;
}
.heading{
  border-top: 2px solid rgba(65, 65, 65, 0.2);
  box-shadow: 0px 0px 23px #F2F2F2;
  padding: 20px;
  font-size: 44px;
}

.glimpse img{
  width: 70%;  
  z-index: 200;
  position:static;
}
.glimpse div{
  border: 2px gray solid;
  width: 70%;
  position: absolute;
  left: 16%;
  margin-top: 1%;
  display: inline;
  z-index: -1;
}
.glimpse div img{
  width: 100%;
  opacity: 0;
}

.readMore{
  background-color: white;
  border: 1.5px black solid;
  padding: 4px 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.aboutAkg{
  display: flex;
  flex-wrap:wrap-reverse;
  align-items: center;
  justify-content: space-evenly;
  margin: 10% 15%;
}

.aboutAkg div{
  width: 400px;
}
.aboutAkg img{
  width: 100%;
}
/* 
.akgborder{
  border:1px black solid;
  position:absolute;
  display:inline;
  opacity: 0.5;
  width: 10%;
}

.akgborder img{
  width: 70%;

} */

.imgflex{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.imgflex img{
  margin: 20px;
}

.callForPapers div{
  display: flex;
  flex-wrap: wrap;
  align-items: left;
  /* justify-content: space-evenly; */
  width: 80%;
  margin-left: 10%;
}

.callForPapers span{
  padding: 10px 4px;
  border: 2px solid #E7E7E7;
  margin-left: 4px;
  margin-top: 10px;
}

.committee>div{
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  margin-left: 10%;
}

.committee>div>div{
  flex: 1;
  text-align: left;
  padding: 4%;
  line-height: 1.75;
  font-weight: bold;
}

.paper p{
  width: 80%;
  margin-left: 10%;
  text-align: left;
  line-height: 1.75;
}

.contact{
  font-weight: bold;
  /* margin-top: -50px; */

}
.contact div>div{
  width: 40%;
  margin-left: 30%;
  font-size: larger;
  text-align: left;
}
.contact div>span,.contact div>p{
  margin-left: 40px;
  /* display: inline; */
}

.firstIcon{
  position: relative;
  top: 47px;
}

.contact>div{
  margin-top: -30px;

}

.iconContact{
  position: relative;
  top: 10px;
}
.imgframe{
  width: 70%;
  margin-left: 15%;
  display: flex;
  align-content: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.imgframe>div{
  width: 300px;
  margin-left: 5%;
}
.footer{
  background-color: #040404;
  color: white;
  text-align: center;
  padding: 5%;
  padding-bottom: 10px;
}
.footer h1{
  font-size: 36px;
}
.footer .link{
  display: flex;
  align-content: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 70%;
  margin-left: 15%;
  padding-bottom: 5%;
}
a{
  color: white;
  text-decoration: none;
  padding: 10px;
}

a:hover{
  color: white;
}

.footer hr{
  width: 120%;
  color: white;
  margin-left: -15%;
}

.box-flex{
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
  text-align: center;
}

.box{
  border: 2px #414141 solid;
  width: 270px;
  height: 350px;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 10px;
}

.blackBox{
  height: 50px;
  background-color: #414141;
  text-align: center;
  color: white;
  padding-top: 35px;
  font-weight: bold;
}

a:hover{
  cursor: pointer;
}

.impDateFlex{
  display:flex; 
  flex-wrap:wrap;
  justify-content:space-evenly; 
  align-items:center;
  text-align: center;
  font-size: 20px;
}

.impDateFlex div{
  margin-left: 20px;
  margin-right: 20px;
  width: 400px;
}

.impDateFlex h1{
  font-size: 44px;
}

.blackDates{
  background-color: #0E0E0E;
  width: 80%;
  margin-left: 10%;
  font-size: 20px;
  text-align: center;
  color: white;
  padding-top: 2px;
  padding-bottom: 2px;
}
.blackDates h1{
  font-size: 44px;
}
@media only screen and (max-width:460px){
  .top>p{
    margin-left: 2.5%;
  }
}

@media only screen and (max-width:972px){
  .navbar, .navfix{
    height: 80px;
  }
}

@media only screen and (max-width:700px){
  .contact div>div{
    width: 70%;
    margin-left: 15%;
  }
}

@media only screen and (max-width:690px){
  .imgmain>h1{
    font-size: 40px;
  }
}

@media only screen and (max-width:520px){
  .hamburger{
    visibility: visible;
    margin-top: -108px;
  }
  .webLinks{
    visibility:hidden;
  }
  .navbar, .navfix{
    height: 40px;
  }
  .imgmain{
    background-size: cover;
    background-position: 65% 0%;
  }
  .imgmain p{
    background-color: #04040435;
    color: white;
  }
}

@media only screen and (max-width:490px){
  .imgmain h1{
    font-size: 36px;
  }
  .hamburger{
    margin-top: -118px;
  }
}
@media only screen and (max-width:430px){
  .contact div>div{
    width: 90%;
    margin-left: 10px;
  }
}

@media only screen and (max-width:386px){
  .hamburger{
    margin-top: -145px;
  }
  .top p,.topfix{
    width: 300px;
    height:80px;
  }
  .hamMenu{
    margin-top: -110px;
  }
  .imgmain h1{
    font-size: 32px;
  }
}
@media only screen and (max-width:359.9px){
  .hamburger{
    margin-top: -155px;
  }
  .hamMenu{
    margin-top: -120px;
  }
}


